@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}